html{
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    padding: 10px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(212,234,107);
    align-items: center;

}

.texto{
    padding-left: 5%;
    font-size: x-large;
}

.lista{
    
    padding-left: 30px;
}

.botoneslista{
    justify-content: space-between;
    display: flex;
    background-color: lightpink;
    margin-top: 1%;
    width: 50%;
}

.cuerpo ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.botoneslista div{
    display: flex;
}

.botoneslista form{
    justify-self: flex-end;
}

.botoneslista p{
   margin: 0;
   padding-right: 5px;
   padding-left: 5px;
   font-weight: bold;
}

.listar{
    height: 1200px;
}

table tr:nth-child(even) {
    background-color: #B7D7E8;
}
table tr:nth-child(odd) {
    background-color: #CFE0E8;
}
    /* Encabezado */
table tr:nth-child(1) {
    background-color: #87BDD8;
    border-bottom: solid 2px #667292;
}

.listar table{
    padding-top: 30px;
    padding-left: 30px;
}


nav{
    background-color: rgb(232,242,161);
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    list-style: none;
}

a{
    padding: 20px;
    color:black;
    text-decoration: none;
    font-size: large;
}





.lateral > h4{
    margin: 1%;
    padding: 10px;
    background-color:orange;
}

.lateral span{
    display: inline-block;

}

.lateral p{
    margin-block-start: 3px;
    margin-block-end: 0;
}

aside{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    width: 20%;
}

aside label{
    display: block;
}

.lateral > ol > li{
    margin-bottom: 10px;
}

.lateral > p{
    margin-left: 10%;
}

.lateral{
    
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    border: 3px solid rgb(212,234,107);
    background-color:wheat;
    padding: 10px;
}

.lateral input{
    display: flex;
    justify-self: center;
    align-self: center;
    margin-block-start: 3px;
    align-content: center;
    
}

.login{
    width: 90%;
}

.lateral img{
    display: flex;
    justify-self: center;
    align-self: center;
    width:80%;
}

.lateral form{
    display: flex;
    flex-direction: column;
    
}

.titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(212,234,107);
    margin: 5px;
    margin-bottom: 0px;
    padding-left: 5%;
}

.titulo > img{
    margin-right: 10px;
}

.subtitulo{
    display: flex;
    justify-content: space-between;
    font-size: small;
}

.subtitulo > p{
    margin-left: 3%;
    margin-right: 3%;
}

.cuerpo{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;   
}

textarea{
    resize: none;
}


.contacto form{
    height:700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.error{
    color: red;
    font-size: small;
}

main{
    background-color: rgb(246,249,212);
    border: 3px solid rgb(187,227,61);
    width: 80%;
}

.bienvenida{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    height: 700px;
    flex-direction: column;
}

.info{
    display: flex;
    background-color: rgb(232,242,161);
    justify-content: space-around;
    margin: 5px;
    font-size: x-large;
}

.info > img{
    float: right;
    width: 230px;
    height: 230px;
    margin: 10px;
}

.info > p{
    margin: 5px;
    padding: 10px; 
}

.ingredientes{
    background-color: white;
    float: right;
    margin-right: 10px;
}

.ingredientes li{
    margin-right: 10px;
}

.pasos li{
    margin-bottom: 10px;
}

.galeria{
    padding-left: 10%;
    padding-right: 10%;
}

.interfaz{
    display: flex;
    margin: 1%;
    background-color: rgb(212,234,107);
}

.interfaz{
    display: flex;
    align-items: center;
    margin: 5px;

}

.iconos{
    margin-right: 20px;
   
}

.numeros{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
}

.comentarios > div{
    margin: 5px;
    padding: 10px;
    background-color: salmon;
}

.digito{
    margin-left: 5px;
    margin-right: 5px;
    background: sandybrown;
    border-radius: 400px;
    padding: 15px;
}

.nombre{
    color: slateblue;
}

footer{
    font-size: medium;
    background-color: rgb(232,242,161);
    padding: 3px;
    margin-top: 1%;
}

.pie{
    display: flex;
    padding: 2%;
    font-size: large;
}

