html{
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    padding: 10px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(212,234,107);
    align-items: center;

}

.texto{
    padding-left: 5%;
    font-size: x-large;
}



nav{
    background-color: rgb(232,242,161);
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

a{
    padding: 10px;
    color:black;
    text-decoration: none;
}




.lateral > h4{
    margin: 1%;
    padding: 10px;
    background-color:orange;
}

.lateral span{
    display: inline-block;

}

.lateral input{
    align-content: center;
    margin-top: 5px;
}

aside{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

aside label{
    margin-top:5px;
    display: block;
}

.lateral > ol > li{
    margin-bottom: 10px;
}

.lateral > p{
    margin-left: 10%;
}

.lateral{
    margin-bottom: 5px;
    border: 3px solid rgb(212,234,107);
    background-color:wheat;
    padding: 10px;
}

.lateral input{
    max-width: 80px;
}




.titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(212,234,107);
    margin: 5px;
    margin-bottom: 0px;
    padding-left: 5%;
}

.titulo > img{
    margin-right: 10px;
}

.subtitulo{
    display: flex;
    justify-content: space-between;
    font-size: small;
}

.subtitulo > p{
    margin-left: 3%;
    margin-right: 3%;
}

.cuerpo{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}


main{
    background-color: rgb(246,249,212);
    border: 3px solid rgb(187,227,61);
}


.info{
    display: flex;
    background-color: rgb(232,242,161);
    justify-content: space-around;
    margin: 5px;
}

.info > img{
    float: right;
    width: 230px;
    height: 230px;
    margin: 10px;
}

.info > p{
    margin: 5px;
    padding: 10px; 
}

.ingredientes{
    background-color: white;
    float: right;
    margin-right: 10px;
}

.ingredientes li{
    margin-right: 10px;
}

.pasos li{
    margin-bottom: 10px;
}

.galeria{
    padding-left: 10%;
    padding-right: 10%;
}

.interfaz{
    display: flex;
    margin: 1%;
    background-color: rgb(212,234,107);
}

.interfaz{
    display: flex;
    align-items: center;
    margin: 5px;

}

.iconos{
    margin-right: 20px;
   
}

.numeros{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
}

.comentarios > div{
    margin: 5px;
    padding: 10px;
    background-color: salmon;
}

.digito{
    margin-left: 5px;
    margin-right: 5px;
    background: sandybrown;
    border-radius: 400px;
    padding: 15px;
}

.nombre{
    color: slateblue;
}

footer{
    font-size: medium;
    background-color: rgb(232,242,161);
    padding: 3px;
    margin-top: 1%;
}

.pie{
    display: flex;
    padding: 2%;
    font-size: large;
}

